
{{#each operations}}
const {{this.action}} = async record => {
    const response = await request('/api/{{this.uri}}',{ method: 'POST', body:{} })
    if({{{../responseSuccess}}}){
        refresh()
    }
}

{{/each}}

{{#each functionButtons}}
const {{this.action}} = () => {
    Modal.confirm({
        title: '确认',
        centered: true,
        content: '确认{{this.btn}}吗？',
        onOk: async () => {
            const response = await request('/api/{{this.uri}}',{ method: 'POST', body:{} })
            if({{{../responseSuccess}}}){
                refresh()
            }
        }
    })
}

{{/each}}

{{#if hasTabs}}
const onTabChange = key => {
    setActiveKey(key)
    {{#if hasFormItems}}form.resetFields(){{/if}}
    {{#if hasRowSelection}}setSelectedRows([]){{/if}}
    setSearch({ pageNo: 1, pageSize: 10, type: key })
}
{{/if}}

{{#if hasExpandable}}
const onExpand = async (expanded, record) => {
    if (expanded) {
        setExpandedRowKeys(prev=>[...prev, record[rowKey])
    } else {
        setExpandedRowKeys(prev=>prev.filter(item => item !== record[rowKey]))
    }
}

const expandedRowRender = record => (<div>自定义渲染</div>)

{{/if}}


{{#if hasImageColumn}}
const showImg = (record, dataIndex) => {
    const list = record[dataIndex]?.split(',') ?? []
    const isUrl=list.some(item=>item.startsWith('http'))
    if(isUrl){
        setImg({ list, visible: true })
    }else{
        //自行解决图片路径问题
    }
}

{{/if}}

const modalSubmit = async values => {
    let response
    let body = values
    if(modal.type==='add'){
        response = await request('/api',{ method: 'POST', body })
    }
    if({{{responseSuccess}}}){
        setModal({ visible: false })
        refresh()
    }
}